<html>
	<head>
		<title>My first node app</title>
	  <meta charset="UTF-8">
	  <meta name="description" content="Free Web tutorials">
	  <meta name="keywords" content="learning node, basic apps">
	  <meta name="author" content="Mmoscardini">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script
		  src="https://code.jquery.com/jquery-1.12.4.js"
		  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
		  crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>