<% include partials/header %>
	<h1>Faça seu cadastro</h1>

	<% if (erros != undefined){ %>
		<ul>
			<% erros.forEach(function(e){ %>
				<li>
					<%= e.msg %>
				</li>
			<% }); %>
		</ul>
	<% }; %>

	<form method="POST" action="/users/add">
	  Name:<br>
	  <input type="text" name="name" value="">
	  <br>
	  Your email:<br>
	  <input type="email" name="email" value="">
	  <br><br>
	  <input type="submit" value="Enviar">
	</form> 

	<h1>Usuários cadastrados</h1>
	<ul>
		<% usuarios.forEach(function(u){ %>
			<li>
				<%= u.name %> <a href="#" class="deleteUser" data-id="<%= u._id %>">  Delete</a>
			</li>
		<% }); %>
	</ul>


<% include partials/footer %>